
    .intro-section {
        text-align: center;
    }

    .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .product-category {
        width: 200px;
    }

    .search-input {
        width: 300px;
        margin-right: 10px;
    }

    .product-item {
        background-color: wheat;
        border: 1px;
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .product-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    /* .product-name {
        color: white;
    }

    .product-description {
        color: white;
    }

    .product-warranty {
        color: white;
    }

    .product-price {
        color: white;
    } */

    .product-rating {
        color: #FFD700;
    }

    .product-actions {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    .space-x {
        margin: 0 5px;
    }
