.register-form {
    border-radius: 10px;
    border: none;
    border-collapse: separate;
    border: 2px solid white;
    border-spacing: 0;
    border-color: black;
    margin-top: 20px;
    padding: 10px;
}

.register-header {
    text-align: center;
}